In [2]:
#import mysql.connector to connect with database
import mysql.connector
#storing the data of the data base to a variable mydb,
# we need to pass 4 argument to the connector user name , password , host, database(optional).
mydb = mysql.connector.connect(
    host = "localhost", 
    user = "root", 
    password = "avi@2107" )
#mycursor is an variable which is used to look or modify the data of database
mycursor = mydb.cursor()
#mycursor.execute() is used to create or show data in database
mycursor.execute("CREATE DATABASE mydatabase")

In [3]:
mycursor.execute("SHOW DATABASES")

#we need to loop through the my cursor to get the data 
for x in mycursor:
    print(x)

('information_schema',)
('mydatabase',)
('mydatabase2',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [ ]:
#now we will work with the mydatabase created above
mydb = mysql.connector.connect(user = "root", password = "avi@2107", 
                       host = "localhost", database = "mydatabase")

mycursor = mydb.cursor()
#we are creating a students table with 2 column name and age 
mycursor.execute("CREATE TABLE students(name VARCHAR(255), age INTEGER(10))")

In [32]:
#show table
mycursor.execute("SHOW TABLES")
#for loop to loop through the mycursor
for x in mycursor:
    print(x)

('students',)

In [35]:
#sqlformula variable is created to insert multiple values into the students table 
sqlformula = "INSERT INTO students(name, age) VALUES(%s, %s)"
students =[("ram", 20),
           ("mohan", 22),
           ("Harry",19),
           ("Potter", 21)]
#here executemany is used to insert multiple values into the table 
mycursor.executemany(sqlformula, students)
mydb.commit()
#.rowcount is used to count the rou in the students table 
print(mycursor.rowcount, "record inserted.")

4 record inserted.

In [36]:
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 0

In [37]:
#SELECT * FROM is used to select students table and fetchall() is used to display all the data in the  table
mycursor.execute("SELECT * FROM students")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

('ram', 20)
('mohan', 22)
('Harry', 19)
('Potter', 21)
('ram', 20)
('mohan', 22)
('Harry', 19)
('Potter', 21)

In [38]:
print(mycursor.rowcount, "record inserted.")

8 record inserted.